
  <div class="container-fluid image nopadding" style="padding: 0px">
      <nav class="navbar navbar-default" id='navmenu'>
          <div class="topmenu">
              <ul class="topmenu-left">
                  <li class="sidebar-brand "><img src="../../../../assets/images/logo.png" height="75px" width="200px"></li>

                  <li class="sidebar-brand decoration text-center">Employee Review System</li>
                  <li><button (click)="socialSignIn('google')">Sign in with Google</button> </li>
                  
              </ul>
          </div>

      </nav>
  </div>
<!-- <button (click)="socialSignOut('google')">Sign Out</button>   -->