<div class="container-fluid" style="padding: 0px">
    <nav class="navbar navbar-default" id='navmenu'>
        <div class="topmenu">
            <ul class="topmenu-left">
                <li class="sidebar-brand "><img src="../../../../assets/images/logo.png" height="75px" width="200px"></li>
                <li class="sidebar-brand " id="logo">
                    <button (click)="onClick()" class="tog-btn"><img src="../../../../assets/images/menu.png"></button>

                </li>
                <li class="sidebar-brand decoration">Employee Review System</li>
                <li class="topmenu-right p-r25 "><i class="fa fa-user-circle-o icon1" aria-hidden="true"></i><i class="fa fa-bell icon2"></i><i class="fa fa-sign-out icon3"></i>
                </li>
            </ul>
        </div>

    </nav>
</div>