$white: #fff;
$theme-clr: #832e5b;
$theme-clr-light: #b65386;
$theme-clr-very-light:#b2628b;
$theme-clr-dark: #803059;
$light-grey:#bdbdbd;
$theme-clr-imp:#903564;
$off-white: #e7e7e7;
$white1: #ebebeb;
$dark-grey: #4d4d4d;
$theme-clr-btn: #80315a;
$very-light-grey: #d2d0d0;
$green: #7CFC00;
$black: #000000;